name: PR Title Lint

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions:
  pull-requests: read

jobs:
  pr-title-lint:
    uses: EdwardRosenberg/template-base/.github/workflows/pr-title-lint.yml@main

